name: Build iOS IPA

on:
  push:
    branches: [ main ]

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0' # أو أي نسخة تستخدمها

      - name: Get dependencies
        run: flutter pub get

      - name: Build IPA
        run: flutter build ios --release --no-codesign

      - name: Upload IPA
        uses: actions/upload-artifact@v3
        with:
          name: Runner
          path: build/ios/iphoneos/Runner.app
